@import url("styles/header.css");
@import url("styles/principal.css");
@import url("styles/rodape.css");
@import url("styles/produtos.css");
@import url("styles/lista.css");
@import url("styles/pagamento.css");
@import url("styles/byebye.css");

/* Estilização para a div que contém o botão */
body{
    margin: 0;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o
    conteúdo exceder a altura da janela */
    /* Define um gradiente linear como plano de fundo */
    background: linear-gradient(to bottom, #ffffff, #055505);  
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;    
}
hr {
    margin: 0; /* Remove o espaço acima e abaixo da linha horizontal */
}
.caminho{
    display: flex;
    width: 300px;
    height: 20px;
    font-size: 30px;
    border: 2px solid green;
    border-radius: 20px;
    box-shadow: 2px 8px 8px rgba(19, 18, 18, 0.2);
    padding: 15px;    
    justify-content: center;
    margin: 20px auto 30px;
    align-items: center;
    color: #ffffff;
    text-decoration: none !important; /* Remove a linha do texto do link */
}
/* Media Queries para Responsividade */
@media (max-width: 575px) {
    .logo {
        height: 40px;
    }

    .titulo {
        font-size: 8vw;
    }

    .anuncio {
        font-size: 6vw;
    }

    .caminho {
        width: 70%;
        font-size: 5vw;
    }

    .personal .label_com_botao {
        font-size: 4vw;
    }
    a{
        text-decoration: none !important; /* Remove a linha do texto do link */
        cursor: pointer; /* Altera o cursor para um ponteiro quando passa sobre a div */
        color: #ffffff;
    }
}










