@import url("styles/header.css");
@import url("styles/principal.css");
@import url("styles/rodape.css");
@import url("styles/produtos.css");
@import url("styles/lista.css");
@import url("styles/pagamento.css");

/* Seus estilos CSS restantes */
/* Estilização para a div que contém o botão */
body{
    margin: 0;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura da janela */
    /* Define um gradiente linear como plano de fundo */
    background: linear-gradient(to bottom, #ffffff, #4cc44c);

    
}
hr {
    margin: 0; /* Remove o espaço acima e abaixo da linha horizontal */
}
.personal {
    margin-top: 120px;    
    display: grid;
    border-top: 2px solid rgb(17, 17, 17);;
    border-bottom: 2px solid rgb(17, 17, 17);
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
    column-gap: 20px; /* Espaço horizontal entre as colunas */
    row-gap: 10px; /* Espaço vertical entre as linhas */
    padding: 20px;
}

.label_com_botao {
    border: 2px solid rgb(17, 17, 17);
    width: 100%; /* Ajusta a largura para ocupar a coluna inteira */
    height: 30px;
    position: relative;
    border-radius: 10px;
    display: flex;    
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra cinza */
    background-color: rgba(0, 128, 0, 0.5); /* Fundo verde com 50% de transparência */
}

.div_com_botao {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(15, 1, 1);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 15px;   
    width: 20px;
    height: 20px;
    background-color: rgb(15, 1, 1);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: -15px;
}








